{% extends "../partials/layout.njk" %}
{% from "../macros/establishmentRollStatCard.njk" import establishmentRollStatCard %}
{% from "../macros/printLink.njk" import printLink %}
{% from "../macros/alertFlags.njk" import alertFlags %}
{% from "../macros/statusTag.njk" import statusTag %}
{% from "../macros/categoryFlag.njk" import categoryFlag %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% set todayStats = establishmentRollCounts.todayStats %}

{% set pageTitle = "In today" %}
{% set mainClasses = "govuk-body govuk-main-wrapper--auto-spacing" %}

{% set breadCrumbs = [
    {
        text: 'Digital Prison Services',
        href:  dpsUrl
    },
    {
        text: 'Establishment roll',
        href:  '/'
    }
] %}

{% set showPrintLink = true %}
{{ printLink(align = "right") }}

{% block content %}
<div class="govuk-width-container govuk-!-margin-top-4">
    <div class="govuk-!-margin-bottom-6">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-0">{{ pageTitle }}</h1>
    </div>

    <div class="establishment-roll-cards-container establishment-roll-cards-container__stretch">
      {{
      establishmentRollStatCard(
        heading = "New admissions",
        value = todayStats.newAdmissions,
        qaTag = "new-admissions-card"
      )
      }}

      {{
      establishmentRollStatCard(
        heading = "Transfers in",
        value = todayStats.transfersIn,
        qaTag = "transfers-in-card"
      )
      }}

      {{
      establishmentRollStatCard(
        heading = "Returns",
        value = todayStats.returns,
        qaTag = "returns-card"
      )
      }}
    </div>


  <div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-full results-table results-table__results">
      {% set sortParam = sort or 'timeArrived&direction=ascending' %}
      {% set paginationBase = '/in-today?sort=' ~ sortParam %}
      {% set pageParam = '&page=' ~ currentPage if currentPage > 1 else '' %}
      {% set returnPathWithSort = paginationBase ~ pageParam %}
      {% set rows = [] %}
      {% set blankRows = [
        [
          {
            html: 'No people to display',
            colspan: 7
          }
        ]
      ] %}
      {% for prisoner in prisoners %}
        {% set prisonerName = prisoner.firstName | formatName("", prisoner.lastName, { style: 'lastCommaFirst' }) %}
        {% set csraLevel = prisoner.csra or 'None' %}

        {# Set arrival type based on arrivalType #}
        {% if prisoner.arrivalType === "ADM" %}
          {% set arrivalType = "New admission" %}
        {% elseif prisoner.arrivalType === "TRN" %}
          {% set arrivalType = "Transfers in" %}
        {% elseif prisoner.arrivalType === "CRT" or prisoner.arrivalType === "TAP" %}
          {% set arrivalType = "Return" %}
        {% else %}
          {% set arrivalType = "" %}
        {% endif %}

        {% set rows = (rows.push([
          {
            html: '<img src="/prisonerImage/' ~ (prisoner.prisonerNumber or 'placeholder') ~ '" alt="Image of ' ~ prisonerName ~ '" class="results-table__results__image" />'
          },
          {
            html: '<a href="' ~ prisonerProfileBackLinkUrl('Back to In today', returnPathWithSort, prisoner.prisonerNumber, '') ~ '" class="govuk-link">' ~ prisonerName ~ '</a>',
            sortValue: prisonerName,
            attributes: {
              "data-sort-value": prisoner.lastName.toLowerCase() if prisoner.displayName else ''
            }
          },
          {
            text: prisoner.prisonerNumber
          },
          {
            html: arrivalType
          },
          {
            html: prisoner.movementTime | formatTime ~ '<br />' ~ prisoner.movementDate | formatDate('short'), sortValue: prisoner.movementDate | toUnixTimeStamp(prisoner.movementTime)
          },
          {
            html: prisoner.arrivedFrom
          },
          {
            html: statusTag(prisoner.inOutStatus)
          },
          {
            html: '<a href="' ~ prisonerProfileBackLinkUrl('Back to Overnights (due to return)', returnPathWithSort, prisoner.prisonerNumber, '/csra-history') ~ '" class="govuk-link">' ~ csraLevel ~ '</a>',
            sortValue: csraLevel
          },
          {
            html: alertFlags(prisoner.alertFlags) ~ categoryFlag("", prisoner.category) | safe
          }
        ]), rows) %}

      {% endfor %}

      {{ govukTable({
        caption: 'Overnights due to return (column headers with buttons are sortable)',
        captionClasses: 'govuk-visually-hidden',
        firstCellIsHeader: false,
        classes: 'govuk-table overnights-roll__table table-vertical-align-middle sortable-table govuk-!-font-size-16',
        head: [
          {
            text: ''
          },
          {
            text: "Name",
            key: 'lastName',
            classes: 'govuk-!-font-size-16'
          },
          {
            text: "Prison number",
            classes: 'govuk-!-font-size-16'
          },
          {
            text: "Arrival type",
            classes: 'govuk-!-font-size-16'
          },
          {
            text: "Time arrived",
            key: 'timeDateDeparted',
            classes: 'govuk-!-font-size-16',
            attributes: {
              "aria-sort": "descending",
              'data-persistent-id': 'timeDateDeparted'
            }
          },
          {
            text: 'Arrived from',
            classes: 'govuk-!-font-size-16'
          },
          {
            text: 'Current status',
            key: 'reason',
            classes: 'govuk-!-font-size-16'
          },
          {
            text: 'CSRA',
            key: 'csra',
            classes: 'govuk-!-font-size-16'
          },
          {
            text: 'Relevant alerts',
            classes: 'govuk-!-font-size-16'
          }
        ] | convertToSortableColumns(sortParam, '?sort={sortKey}&direction={sortDirection}'),
        rows: rows if prisoners.length > 0 else blankRows
      }) }}

    </div>
  </div>
</div>
{% endblock %}
